[submodule "Ansi-Text-Manipulation-Library"]
	path = Ansi-Text-Manipulation-Library
	url = git@github.com:KDesp73/Ansi-Text-Manipulation-Library.git
[submodule "Cli-Kit"]
	path = Cli-Kit
	url = git@github.com:KDesp73/Cli-Kit.git
